
<% console.log(posts) %>
<% posts.forEach(function (post, index) {
    if(index % 3 == 0){ %>
    <div class="row">
<% } %>
            <div class="span4">
                <h2><a href="/users/u/<%= post.name %>"><%= post.name %></a> 说</h2>
                <p><small><%= post.time %></small></p>
                <p><small><%= post.post %></small></p>
            </div>

        <% if(index % 3 == 2){ %>
            </div>
        <%}%>
<% }) %>
    <% if(posts.length % 3 != 0){ %>
        </div>
    <%}%>
</html>