
<form class="well form-inline center" method="post" action="/post" style="text-align: center">
    <input type="text" class="span8" name="post">
    <button type="submit" class="btn btn-success"><i class="icon-comment icon-white"></i> 发言</button>
</form>
</body>
</html>